{% extends 'home.twig' %}

    {% block content %}
      <h3 class="display-6">Legal notices</h3>
      <ul>
        <li>This application is intended for demonstration purposes only and is provided without any warranties or safeguards. Users are hereby warned that they should not store any sensitive or confidential information within it. The application author takes no responsibility or liability for any data loss arising from usage of this application.</li>
        <li>By using this application, you agree to be bound by the Cloudant and Weather Company Data Terms of Use, available at <a href="http://www-03.ibm.com/software/sla/sladb.nsf/sla/bm-6627-05">http://www-03.ibm.com/software/sla/sladb.nsf/sla/bm-6627-05</a> and <a href="https://www-03.ibm.com/software/sla/sladb.nsf/sla/bm-7148-05">https://www-03.ibm.com/software/sla/sladb.nsf/sla/bm-7148-05</a> and to comply with (and not knowingly violate) applicable law, regulation, and these terms of use.</li>
        <li>By using this application, you agree to be bound by the IBM Cloud Terms of Use, available at <a href="http://www-03.ibm.com/software/sla/sladb.nsf/sla/saas">http://www-03.ibm.com/software/sla/sladb.nsf/sla/saas</a> and to comply with (and not knowingly violate) applicable law, regulation, and these terms of use.</li>
        <li>By using this application, you agree to defend, indemnify and hold harmless the application author, from and against all costs, charges and expenses (including attorneys' fees) arising from any third party claim, action, suit, or proceeding against any action by a third party against the application author.</li>
      </ul>    
    {% endblock %}